
iftype athsta
	athsta_base wifi0

addressing dhcp

wpa_ssid "no8-rsc"
wpa_key_mgmt "WPA-EAP"
wpa_identity "stolf@unwire.co.nz"
wpa_password "the34"
wpa_proto "WPA"
wpa_pairwise CCMP
wpa_group CCMP
wpa_eap TLS
wpa_client_cert "/etc/ccsd/cacert.pem"
wpa_private_key "/etc/ccsd/client-cert.pem"
wpa_private_key_passwd ""
wpa_driver madwifi
